/* Elements selectors */

/* Class sélectors */

.div1 {
    background-color: aqua;
    width: 200px;
    height: 100px;
    position: static;
}

.div2 {
    background-color: blanchedalmond;
    width: 200px;
    height: 100px;
    position: static;
}

.div3 {
    background-color: rgb(30, 209, 51);
    width: 300px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 50px;
}

/* ID sélectors */